* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
:root {
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --accent-color: #997124;
  --section-breaks: #f5f3ef;
  --font-family: "Zilla Slab", serif;
  --section-padding: clamp(60px, 8vw, 120px);
}

a,
button {
  color: inherit;
  text-decoration: none;
}
